Repository denkylabs/helly, pull requests merged in 2022-03, with the labels that each got.

#98 feat(GuildMember[Manager]): add `kick()` method
  src/managers/GuildMemberManager.ts
  src/structures/GuildMember.ts
Labels: managers, structures

#99 fix(Message): `member` being undefined sometimes
  src/structures/Message.ts
Labels: structures

#102 feat(GuildMember[Manager]): add `ban()` method
  src/managers/GuildMemberManager.ts
  src/structures/GuildMember.ts
  src/utils/transformers/Transformers.ts
Labels: utility, managers, structures

#103 feat: add support to bans & member searching
  .eslintrc.json
  src/client/ClientOptions.ts
  src/managers/GuildBanManager.ts
  src/managers/GuildMemberManager.ts
  src/structures/Guild.ts
  src/structures/GuildBan.ts
  src/structures/GuildMember.ts
  src/utils/bitfield/MessageFlagsBitField.ts
  src/utils/bitfield/PermissionsBitField.ts
  src/utils/bitfield/SystemChannelFlagsBitField.ts
  src/utils/bitfield/UserFlagsBitField.ts
Labels: utility, channels, structures, bitfields

#104 chore: remove comments from auto_assign.yml
  .github/auto_assign.yml
Labels: github

#107 feat: ActionRow, SelectMenu[Option] & Button builders
  package-lock.json
  src/builders/ActionRow.ts
  src/builders/Button.ts
  src/builders/Embed.ts
  src/builders/SelectMenu.ts
  src/builders/SelectMenuOption.ts
  src/builders/index.ts
  src/index.ts
  src/structures/Channel.ts
  src/structures/Message.ts
  src/utils/rest/MakeAPIMessage.ts
  src/utils/transformers/Parsers.ts
  src/utils/transformers/Transformers.ts
Labels: utility, exports, channels, structures, dependecies, builders, rest

#113 feat(GuildChannelManager): add `delete` method
  src/managers/GuildChannelManager.ts
  src/structures/Channel.ts
Labels: channels, structures

#115 feat(GuildChannel[Manager]): add `create` method
  src/managers/GuildChannelManager.ts
Labels: channels

#114 feat: webhook support
  src/client/Client.ts
  src/client/WebhookClient.ts
  src/index.ts
  src/managers/ChannelManager.ts
  src/managers/UserManager.ts
  src/structures/Channel.ts
  src/structures/Message.ts
  src/structures/Webhook.ts
  src/structures/index.ts
Labels: exports, client, channels, structures, webhooks

#109 feat: add support to Application Commands
  src/client/Client.ts
  src/client/ClientOptions.ts
  src/client/actions/READY.ts
  src/index.ts
  src/managers/ApplicationCommandManager.ts
  src/managers/CacheManager.ts
  src/managers/GuildApplicationCommandManager.ts
  src/managers/GuildBanManager.ts
  src/managers/GuildManager.ts
  src/managers/GuildMemberManager.ts
  src/managers/index.ts
  src/structures/ApplicationCommand.ts
  src/structures/Guild.ts
  src/structures/index.ts
  src/utils/transformers/Transformers.ts
Labels: utility, exports, feature, client, managers, structures, transformers, commands
