Repository denkylabs/helly, pull requests merged in 2022-02, with the labels that each got.

#40 [github] add Pull Request Labeler action
  .github/labeler.yml
  .github/workflows/autolabel-pr.yml
Labels: utility

#41 [WSManager] verify if Websocket state is OPEN before parsing
  src/client/websocket/WebsocketManager.ts
Labels: websocket

#43 [UserManager] return DMChannel in `createDM()`
  src/managers/UserManager.ts
  src/structures/DMChannel.ts
  src/structures/User.ts
Labels: managers, channels, structures

#44 [Role] add `.setPosition()` & improve conscistency
  src/structures/Role.ts
Labels: roles, structures

#45 [Channel] fix setRateLimitPerUser, improve conscistency
  src/managers/GuildChannelManager.ts
  src/managers/RoleManager.ts
  src/structures/GuildChannel.ts
  src/structures/TextChannel.ts
Labels: managers, roles, channels, structures

#46 [RoleManager] add `.delete()` method
  src/managers/RoleManager.ts
  src/structures/Role.ts
Labels: managers, roles, structures

#47 [github] autopublish dev versions to npm
  .github/workflows/autopublish-dev.yml
Labels: github

#51 [MessageEmbed] add suport to the `video` property
  src/structures/MessageEmbed.ts
Labels: structures
